
@{
    ViewBag.Title = "महाराष्ट्र सावकारी (नियमन) अधिनियम 2014 मधील नियम 17 अन्वये जिल्हा उप निबंधक यांनी सहा.निबं यांना चौकशी कामी प्राधिकृत केले असल्यास चौकशी पुर्ण करणे/जि.उपनिबंधक यांनी कलम 18(2) अन्वये आदेश पारित करणे";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>महाराष्ट्र सावकारी (नियमन) अधिनियम 2014 मधील नियम 17 अन्वये जिल्हा उप निबंधक यांनी सहा.निबं यांना चौकशी कामी प्राधिकृत केले असल्यास चौकशी पुर्ण करणे/जि.उपनिबंधक यांनी कलम 18(2) अन्वये आदेश पारित करणे</h2>

