
@{
    ViewBag.Title = "अवसायनातील स्थावर जंगम  मालमत्ता नसलेल्या संस्था नोंदणी रद्द करणे";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>अवसायनातील स्थावर जंगम  मालमत्ता नसलेल्या संस्था नोंदणी रद्द करणे</h2>

