
@{
    ViewBag.Title = "वाटप करण्यात आलेला निधी खर्च करणे या बाबीमध्ये कार्यक्रम खर्च (प्लॅन) व अनिवार्य खर्च (नॉन प्लॅन)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>वाटप करण्यात आलेला निधी खर्च करणे या बाबीमध्ये कार्यक्रम खर्च (प्लॅन) व अनिवार्य खर्च (नॉन प्लॅन)</h2>

