@model Performance_Appraisal_System.Models.District

<option value="">-- जिल्हा निवडा --</option>

@if (ViewBag.DistrictList != null)
{
    foreach (var item in ViewBag.DistrictList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}