@model Performance_Appraisal_System.Models.Division

<option value="">-- विभाग निवडा --</option>

@if (ViewBag.DivisionList != null)
{
    foreach (var item in ViewBag.DivisionList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}