
<div class="noPrint w3-clear nextprev">

    <input type="button" class="w3-left ws-btn" value="❮ Previous" onclick="history.back()">
    <input type="button" class="w3-right ws-btn" value="Next ❯" onclick="history.forward()">

</div>
