@{
    ViewBag.Title = "उपयोगकर्ता पुस्तिका";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding: 30px;background: white;">
    <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;
        background: #f2f7fb !important;">
        <br>
        <br>

        <h3 class="card-title text-center">उपयोगकर्ता पुस्तिका</h3>
        <hr>

        <table class="table table-borderless branchtable" style="margin-left:100px;">
            <tbody>
                <tr>
                    <td><a href="~/Content/PDF/UserManual.pdf" target="_blank"> मुल्यांकन प्रणाली सॉफ्टवेअर वापरण्याबाबत मार्गदर्शक सुचना (उपयोगकर्ता पुस्तिका)</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Establishment.pdf" target="_blank"> आस्थापना कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Lekha.pdf" target="_blank"> लेखा कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/IT.pdf" target="_blank"> माहिती व तंत्रज्ञान कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Dakshta.pdf" target="_blank"> दक्षता कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Budget.pdf" target="_blank"> अंदाज व नियोजन कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Audit.pdf" target="_blank"> लेखापरीक्षण कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Law.pdf" target="_blank"> कायदा व वैधानिक कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Housing.pdf" target="_blank"> गृहनिर्माण कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Patsanstha.pdf" target="_blank"> पतसंस्था कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/OM.pdf" target="_blank"> संघटना व कार्यपध्दती कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/MoneyLending.pdf" target="_blank"> सावकारी कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Krushi.pdf" target="_blank"> कृषीपतपुरवठा कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>

                <tr>
                    <td><a href="~/Content/PDF/Bhuvikas.pdf" target="_blank"> भूविकास कार्यासन - मुल्यांकन अहवाल भरण्यासंदर्भात मार्गदर्शक सुचना</a></td>
                </tr>
            </tbody>
        </table>
        <br>


    </div>

</div>

