@{ ViewBag.Title = "मुल्यांकन प्रणाली"; }


@{var UserRole = ViewBag.UserRole;}

<br>
<br>
<div class="container" style="padding: 30px;background: white;">
    <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;
        background: #f2f7fb !important;">
        <br>
        <br>
        <img style="margin:auto; display:block;" src="~/Images/India_Government_logo.png">
        <hr>
        <h3 class="card-title text-center">मुल्यांकन प्रणाली</h3>

        <br>
        <br>
        <div class="form-row" style="text-align:center">

            @if (UserRole != 5 && UserRole != 6)
            {
                <div class="form-group col-md-6">
                    <div class="card info-card-invert">
                        <div class="card-body">
                            <img src="~/Images/circle.svg" class="card-img-absolute-invert" alt="circle-image">
                            <h5 class="card-title">मुल्यांकन अहवाल पहा</h5>
                            <hr>
                            <p class="card-text">येथे आपण मुल्यांकन प्रणाली महाराष्ट्र राज्य अहवाल , शाखा निहाय अहवाल , कार्यालय निहाय अहवाल पाहु शकता.</p>
                            @if (UserRole == 3 || UserRole == 4)
                            {
                                <a href="/Report/OfficeReportSelection" title="मुल्यांकन अहवाल पहा" class="btn btn-dark" style="width: 20rem;">Proceed</a>
                            }
                            else
                            {
                                <a href="/Report/ViewAppraisalReports" title="मुल्यांकन अहवाल पहा" class="btn btn-dark" style="width: 20rem;">Proceed</a>
                            }

                        </div>
                    </div>
                </div>
            }

            <div class="form-group col-md-6">
                <div class="card info-card">
                    <div class="card-body">
                        <img src="~/Images/circle.svg" class="card-img-absolute" alt="circle-image">
                        <h5 class="card-title">मुल्यांकन अहवाल भरा</h5>
                        <hr>
                        <p class="card-text">येथे मुल्यांकन प्रणाली अहवाल शाखा व विषय निहाय माहिती आपण महिन्या नुसार भरू शकता.</p>
                        <a href="/Report/DepartmentWiseReport" title="मुल्यांकन अहवाल भरा" class="btn btn-dark" style="width: 20rem;">Proceed</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
